section.about
    .container
        .title.titleWithBottomLine
            h2.title.titleHeader About Us
            .titleText We are added our major Services

        ul.aboutList
            li.aboutItem
                .icon.iconLike
                h3.aboutHeader Facebook Marketing
                p.aboutDescription Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero suscipit temporibus corporis quas qui eius pariatur placeat nemo odit deserunt autem, unde non accusamus nobis reiciendis veniam voluptate quo. Liber   
            li.aboutItem
                .icon.iconBook
                h3.aboutHeader Landing pages Creation
                p.aboutDescription Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero suscipit temporibus corporis quas qui eius pariatur placeat nemo odit deserunt autem, unde non accusamus nobis reiciendis veniam voluptate quo. Liber   
            li.aboutItem
                .icon.iconMessage
                h3.aboutHeader Ads management
                p.aboutDescription Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero suscipit temporibus corporis quas qui eius pariatur placeat nemo odit deserunt autem, unde non accusamus nobis reiciendis veniam voluptate quo. Libero.
                

