header.header
  .headerTop
    .container
      include contacts
  .container
    .headerBottom
      .logo: img.logo__picture(src="images/logo.png" alt="picture")
      include nav
      a.button.headerButton.buttonRed(href="#") Free Consultation
